.story {
  &__pictures {
    background-color: var(--color-primary);
    grid-column: full-start/col-start 4;
    grid-row: 3/4;
  }
  &__content {
    background-color: var(--color-grey-light-1);
    grid-column: col-start 4 / full-end;
    grid-row: 3/4;
  }
}
